{% extends "main.html" %}

{% block body %}
<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <h1>
                Add Item
                <small>With Great Power Comes Great Responsibility! :)  </small>
            </h1>
            <br>
            <h3 class="text-center">Update Item</h3>
            <!--
            Fill these up whenever you feel like it, custom made for each page.
            <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li><a href="#">Examples</a></li>
            <li class="active">Blank page</li>
        </ol>
    -->
</section>
<section class="content">
{% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-success">
                    <p style="color: #1c2529"><h4 style="color: #0480be">{{ message }}</h4></p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}
    <div class="box">
        <div class="box-header">
        </div>
        <div class="box-body">
            <form action="{{ url_for('postProductUpdate') }}" method="post">

                <div class="form-group">
                    <label for="company">Company Name:</label>
                        <div class="row">
                            <div class="col-lg-8">
                                <select name="product" required style="width: 100px; height: 45px; font-size: larger; font-weight: 600;">
                                    {% for product in products %}
                                        <option value="{{ product.name }}">{{ product.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group has-feedback">
                            <label for="limit">Quantity</label>
                            <input type="number" name="quantity" class="form-control" placeholder="Enter the Quantity" required>
                            <span class="glyphicon glyphicon-fire form-control-feedback"></span>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4 col-offset-xs-4" style="position: relative; margin: 0 auto; left: 115px;">
                        <input type="submit" class="btn btn-danger btn-block" value="Submit Order" >
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
</div>
{% endblock %}